# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/react/aula/node_modules
/react/primeiro-app/node_modules
/react/rotas/node_modules
/react/prime/node_modules



